:root{
  --bg0:#282a36;
  --bg1:#44475a;
  --bg2:#34374a;
  --commentC:#6272a4;
  --borderC:#6272a4;
  --textC:#f8f8f2;
  --contrast0:#ffb86c; /*Orange*/
  --contrast1:#8be9fd; /*Cyan*/
  --contrast2:#50fa7b; /*Green*/
  --contrast3:#ff79c6; /*Pink*/
  --contrast4:#bd93f9; /*Purple*/
  --contrast5:#ff5555; /*Red*/ 
  --contrast6:#f1fa8c; /*Yellow*/
  
}


/*:root{
  --bg0:#fdf6e3;
  --bg1:#eee8d5;
  --bg2:#ded8c5;
  --commentC:#839496;
  --borderC:#839496;
  --textC:#002b36;
  --contrast0:#cb4b16;/*Orange*/
/*  --contrast1:#2aa198;/*Cyan*/
/* --contrast2:#859900; /*Green*/
/* --contrast3:#d33682; /*Pink*/
/* --contrast4:#6c71c4; /*Purple*/
/* --contrast5:#dc322f; /*Red*/ 
/* --contrast6:#b58900; /*Yellow*/  
/*}*/

.pdfbutton{
  font-variant:small-caps;
  font-size:medium;
  font-family:serif;
  font-weight:bold;
  border-radius:5px;
  padding-top:0.5px;
  padding-bottom:0.5px;
  padding-left:8px;
  padding-right:8px;
  border-left:5px solid var(--contrast1);
  margin-top:20px;
  margin-bottom:20px;
  float:right;
  background-color:var(--bg0)
}

.mainBody{
  transition:1.0s;
}
a {
color: var(--commentC);
font-style: italic;
}

a:hover{
  text-decoration:none;
  color: var(--contrast1);
}

.folderButton{
  display: inline-block;
  width: 15px;
  height: 15px;
  border-top: 4px solid var(--contrast5);
  border-right: 4px solid var(--contrast5);
  transform: rotate(45deg);
  margin-top:20px;
  margin-bottom:20px;
  transition:1.0s;

 /* -webkit-transform: rotate(-45deg);
/*  padding-left:0;*/
}
.sidenav {
  border-radius:5px;
  height: 100%; /* 100% Full-height */
  width: 0px; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color:var(--bg0); /* Black*/
  border-right:5px solid var(--contrast5);
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 1.0s; /* 0.5 second transition effect to slide in the sidenav */
}

.sidenav a{
  font-variant:small-caps;
  text-decoration:none;
  font-family:serif;
  font-size:medium;
  font-weight:bold;
}

.sidenav li{
  padding-bottom:5px;
  border-bottom:1px solid var(--bg1);

}

.sidenav ul{
  list-style: none;
}

button {
  background:var(--commentC);
}
.background-color-one {
  background-color:var(--bg1);
}
.background-color-two {
  background-color:var(--bg2);
}
.smallcaps{
  font-variant:small-caps;
}
strong{
  color: var(--contrast6);
}
ol{
  color: var(--contrast6);
}
ul{
  color: var(--contrast6);
}
em{
  color:var(--conrast4);

}
.math{
  color:var(--contrast3);
}

blockquote{
  color:var(--commentC);
}
.importHeading {
  border-radius:5px;
  padding-right:20px;
  padding-left:20px;
  padding-bottom:1px;
  border-left: 6px solid var(--contrast5);
  color:var(--textC);
  background-color:var(--bg0);
}


.sectionHeading{
  border-radius:5px;
  padding-bottom:1px;
  padding-right:20px;
  padding-left:20px;
  border-left: 6px solid var(--contrast0);
  background-color:var(--bg0);
}

.import{
  padding-top:5px;
  padding-bottom:5px;
}

section{
  color:var(--textC);
  padding-top:5px;
  padding-bottom:5px;
  margin-top:5px;
  margin-bottom:5px;
}

h2{
  margin:0;
  color:var(--commentC);
  padding:0;
  font-weight:normal;
  font-family:serif;
}

p{
  margin:0;
  padding:0;
}

.sectionBody{
  border-radius:5px;
  color:var(--textC);
  display: none;
  padding-top:20px;
  padding-left:20px;
  padding-right:20px;
  padding-bottom:10px;
  word-break:break-all;
  word-wrap:wrap-all;
  border-left: 6px solid var(--borderC);

}

.importBody{
  border-radius:5px;
  color:var(--textC);
  padding-top:20px;
  padding-left:20px;
  padding-right:20px;
  padding-bottom:10px;
  display: none;
  word-break:break-all;
  word-wrap:wrap-all;
  border-left: 6px solid var(--borderC);
}
dt{
  color:var(--contrast1);
}

dd{
  color:var(--contrast2);
}
body {
  background-color:var(--bg2);
  color:var(--textC);
  font-family: Ariel, Helvetica, sans-serif;
}

.container{
  background-color:var(--bg1);
  position:relative;
  padding-left:20px;
  padding-right:20px;
  padding-bottom:20px;
  padding-top:20px;
  width:vw;
  border-left:6px solid var(--bg1);


}

.article{
  background-color:var(--bg1);
  padding-left:20px;
  padding-right:20px;
  padding-bottom:20px;
  padding-top:20px;
  width:vw;
  border-left:6px solid var(--bg0);

}
